#background{
	position: absolute;
	left: 0;
	top:0;
}
#bouton{
	position: relative;
	width: 500px;
	height: 100px;
	background-color:rgba(209,209,209,0.5);
	border-radius: 30px;
	margin:auto;
	top:70%;
	

}
#bouton a{
	text-decoration:none;
}
#bouton p{
	padding-top:15px;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: Impact, Charcoal, sans-serif;
	color:white;
}